body {background-color: aliceblue;

}

.Whatsthescore {
    font-size: x-large;
    margin-left: 30px;


}

.timestop {
    font-size: larger;
    float: right;
    margin-right: 37.5465px;
}
 .sketch_draw {
    text-decoration: dotted;
    text-emphasis-color: yellow;

 }
 